.front, .back {
	transition: -webkit-transform 1.5s;
	-webkit-backface-visibility: hidden;
}

.front {
	width: 100%;
	position: absolute;
	z-index: 1;
}

.back {
	width: 100%;
	-webkit-transform: rotateY(-180deg);
}

.info-card{
	margin-bottom: 6em;
}

.card-box{
	margin-left: auto;
	margin-right: auto;
}

.info-card:hover .back {
	-webkit-transform: rotateY(0);
}

.info-card:hover .front {
	-webkit-transform: rotateY(180deg);
}

.headText{

	font-size: 11vw;
	color: tomato;
	margin-bottom: .3em;
	padding-left: 10px;
}

.aboutImgBox{
	width: 450px;
}

.fullName{
	color:#676666;
	font-size:14;
}

.quote{
	font-size: 10px;
	margin-top: 15px;
}

.skillsHeader{
	color: tomato;
	font-family: Helvetica;
	font-size: 4vw;
	margin-bottom: 40px;
	margin-top: 40px;
}

.skillsTitles{
	color: #676666;
	font-family: Helvetica;
	font-size: 20px;
}

.skillsDesc{
	color: #676666;
	font-family: Helvetica;
	font-size: 13px;
}

.imgFill{
	width: 100%;
}

.centerGallery{
	justify-content: center;
}

.formText{
	color: tomato;
	font-family: Helvetica;
	font-size: 15px;
	margin-top:-1%;
}

.formHeader{
	font-size: 30px;
}

.footer {
    background: tomato;
    color: white;
    padding-top: 20px;
    padding-bottom:20px;
    font-size: 12px;
}