.front, .back {
	transition: -webkit-transform 1.5s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}

.front {
	width: 100%;
	position: absolute;
	z-index: 1;
}

.back {
	width: 100%;
	height: 100%;
	-webkit-transform: rotateY(-170deg);
}

.info-card{
	width: 100%;
	margin-bottom: 6em;
}

.card-box{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.card-image{
	width: 100%;
}

.info-card:hover .back {
	-webkit-transform: rotateY(0);
}

.info-card:hover .front {
	-webkit-transform: rotateY(170deg);
}

.headText{

	font-size: 125px;
	width: 100%;
	color: tomato;
	margin-bottom: .3em;
}

.box1{
	width: 50%;
}

.imgBox{
	width: 450px;
}

.quote{
	font-size: 10px;
	margin-top: 15px;
}

.imgFill{
	width: 100%;
}

.box2{
	width: 80%;
	margin-left: 2em;
}

.centerGallery{
	justify-content: center;
}

.containerWidth{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.portfolioText{
	font-size: 15px;
	text-align: center;
	color: tomato;
	margin-top: 2em;
}

.icon{
	padding-left: 20px;
	padding-right: 20px;
}

.formText{
	color: tomato;
	font-family: Helvetica;
	font-size: 20px;
	margin-top: -7%;
}

.formHeader{
	font-size: 40px;
}

.footer {
    background: tomato;
    color: white;
    padding-top: 20px;
    padding-bottom:20px;
    font-size: 12px;
}